* {

}

body {
    background-color: #EAE7DC;
    padding-left: 5em;
    padding-top: 2.5em;
}
h1 {
    color: #E85A4F;
}

button {
    background-color: #E98074;
    border: none;
    color: #eae7dc;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding: 1em 2em 1em 2em;
}

p {
    color: linen;
}

ul a:hover{
   color: #E98074;
}

ul a:visited:hover {
    color: #E98074;
}

ul a:visited {
    color: #8E8D8A;
}
ul {
    color: #D8C3A5;
}
