* {
    
}

body {
    background-color: #EAE7DC;
}
h1 {
    color: #E85A4F;
}

.container {
    background-image: url(https://images.unsplash.com/photo-1564067886520-e1ff2767eb1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80);
    background-size: cover;
    height: 700px;
    margin: 0 auto;
    width: 50%;
}

h2 {
    color: #EAE7DC;
    font-size: 45px;
    position: relative;
    text-align: left;
    font-weight: normal;
}