* {
    
}

body {
    background-color: #EAE7DC;
}
h1 {
    color: #E85A4F;
}

.container {
    background-image: url(chris-arthur-collins-qGkVJ7Tx36s-unsplash.jpg);
    background-size: cover;
    height: 700px;
    margin: 0 auto;
    width: 50%;
}

h2 {
    color: #EAE7DC;
    font-size: 30px;
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}