* {

}

body {
    background-color: #EAE7DC;
    padding-left: 5em;
    padding-top: 2.5em;
}
h1 {
    color: #E85A4F;
    padding-bottom: 20px;
}

.container {
    background-image: url(../img/pupper.jpg);
    background-size: cover;
    height: 600px;
    margin: 0 auto;
    width: 50%;
}

h2 {
    color: #EAE7DC;
    font-size: 36px;
    position: relative;
    text-align: left;
    font-weight: normal;
}
