* {

}

body {
    background-color: #EAE7DC;
    padding-left: 5em;
    padding-top: 2.5em;
}
h1 {
    color: #E85A4F;
}

img {
    width: 500px;
    height: 600px;
    padding-left: 2em;
    padding-bottom: 2em;
}
