* {
    
}

body {
    background-color: #EAE7DC;
}
h1 {
    color: #E85A4F;
}

button a {
    background-color: #8E8D8A;
    border: none;
    color: #EAE7DC;
    display: block;
    font-weight: bold;
    margin: none;
    padding: 1em 2em 1em 2em;
}


button a:hover {
    background-color: #E98074;
    color: #D8C3A5;
}

p {
    color: #E85A4F;
}

ul a:hover{
   color: #E98074;
}

ul a:visited:hover {
    color: #E98074;
}

ul a:visited {
    color: #8E8D8A;
}

ul {
    color: #D8C3A5;
}
