* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF7EF;
}

.header {
  background-color: #ECDAC6;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.25fr;
  grid-template-areas: "header-img"
  "nav";
}

.header-img {
  width: 100%;
  grid-area: header-img;
}

.header img {
  opacity: 0.75;
  margin-top: 4%;
}

.nav {
  width: 100%;
  background-color: #81503F;
  grid-area: nav;
  justify-content: center;
  align-items: center;
}

li {
  display: block;
}
.nav ul {
  list-style-type: none;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-family: 'Nunito Sans';
  margin-left: 6.5%;
  margin-right: 10%;
  margin-top: 1.5%;
}

.nav a {
  color:#FFF7EF;
  text-align: center;
  margin-left: 20px;
}

.nav a:hover {
  color: #EBD0B3;
  text-decoration: none;
}

h1 {
  color: #362217;
  font-family: 'Taviraj', Georgia, serif;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 1px;
  padding-top: 36px;
  padding-bottom: 20px;
  text-align: center;
}

p {
  color: #362217;
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
   ". about-p ."
   ". about-img ." ;
  grid-gap: 38px;
}

.about-p {
  grid-area: about-p;
}

.about-img {
  grid-area: about-img;
}
.about-img img {
  width: 295px;
}

.drink-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 0.65;
}

.food-img {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 0.65;
}

h2 {
  color: #362217;
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 38px;
  letter-spacing: 3.5px;
  transform: translate(0,-40px);
  margin-bottom: -20px;
  text-align: center;
}


.hot-sizesS p {
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #937F74;
}
.hot-sizesM p {
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #937F74;
}

.hot-sizesL p {
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #937F74;
}

.drink-grid {
  display: grid;
  grid-template-columns: 1.25fr 0.3fr 0.3fr 0.3fr;
  grid-template-areas:
    "hr-1 hr-1 hr-1 hr-1"
    "hot-drinks hot-sizesS hot-sizesM hot-sizesL";
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 5%;
}

.hot-drinks {
  grid-area: hot-drinks;
}

.hot-drinks-title p {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight:600;
  color: #362217;
  letter-spacing: 1px;
}
.hot-drinks p {
  line-height: 25px;
}

.hot-small-title p {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight:600;
  color: #362217;
  letter-spacing: 1px;
}
.hot-sizesS {
  grid-area: hot-sizesS;
}


.hot-sizesM {
  grid-area: hot-sizesM;
}

.hot-sizesL {
  grid-area: hot-sizesL;
}

.hr-1 {
  grid-area: hr-1;
  width:100%;
  margin-bottom: -50px;
  padding-top: 15px;
}

.hr-2 {
  grid-area: hr-2;
  width:100%;
  margin-bottom: -50px;
  padding-top: 15px;
}

.hr-3 {
  width:100%;
  grid-area: hr-3;
  margin-bottom: -50px;
  padding-top: 15px;
}

.hr-4 {
  width:100%;
  grid-area: hr-4;
  margin-bottom: -50px;
  padding-top: 15px;
}

.hr-1 hr {
  border-top: 2px solid #DBC9C2;
}

.hr-2 hr {
  border-top: 2px solid #DBC9C2;
}

.hr-3 hr {
  border-top: 2px solid #DBC9C2;
}

.hr-4 hr {
  border-top: 2px solid #DBC9C2;
}

.ice-sizesS p {
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #937F74;
}
.ice-sizesM p {
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #937F74;
}

.ice-sizesL p {
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  color: #937F74;
}

.ice-drink-grid {
  display: grid;
  grid-template-columns: 1.25fr 0.3fr 0.3fr 0.3fr;
  grid-template-areas:
    "hr-2 hr-2 hr-2 hr-2"
    "hot-drinks hot-sizesS hot-sizesM hot-sizesL";
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 5%;
}

.ice-drinks {
  grid-area: hot-drinks;
}

.ice-drinks-title p {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight:600;
  color: #362217;
  letter-spacing: 1px;
}
.ice-drinks p {
  line-height: 25px;
}

.ice-small-title p {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight:600;
  color: #362217;
  letter-spacing: 1px;
}
.ice-sizesS {
  grid-area: hot-sizesS;
}


.ice-sizesM {
  grid-area: hot-sizesM;
}

.ice-sizesL {
  grid-area: hot-sizesL;
}

.ice-drinks-line {
  grid-area: hot-drinks-line;
}


hr {
  border-top: 2px solid #DBC9C2;
}

.special-grid {
  display: grid;
  grid-template-columns: 1.25fr 0.3fr 0.3fr 0.3fr;
  grid-template-areas:
    "hr-4 hr-4 hr-4 hr-4"
    "special-items special-items special-items special-price";

  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 5%;
}

.special-items {
  grid-area: special-items;
}

.special-items p {
  font-weight: 600;
  line-height: 25px;
}

.special-price {
  grid-area: special-price;
}

.special-title p {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight:600;
  color: #362217;
  letter-spacing: 1px;
}
.special-price p {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight:600;
  color: #937F74;
  letter-spacing: 1px;
  text-align: center;
}


.food-grid {
  display: grid;
  grid-template-columns: 1.25fr 0.3fr 0.3fr 0.3fr;
  grid-template-areas:
    "hr-3 hr-3 hr-3 hr-3"
    "food-items food-items food-items food-prices";
  justify-content: center;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 15%;
}

.food-items {
  grid-area: food-items;
}

.food-prices {
  grid-area: food-prices;
}

.food-title p {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight:600;
  color: #362217;
  letter-spacing: 1px;
}

.food-price-title p {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight:600;
  color: #937F74;
  letter-spacing: 1px;
  text-align: center;
}

h4 {
  font-family: 'Nunito Sans', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 20px;
}

.food-description p {
  font-family: 'Taviraj', 'Georgia', serif;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  color: #937F74;
  margin-top: -10px;
}

.btm-logo {
  width: 30%;
  margin-left: 35%;
  margin-top: -65px;
}


.maplinks {
  display: inline-block;
  padding-left: 15%;
}

.contact-links {
  padding-left: 15%;
}

.hours {
  display: inline-block;
  padding-left:10%;
}

.hours p {
  color: #937F74;
}
.hours-title {
  font-weight: bold;
  color:#362217;
}
#contact a{
  color: #937F74;
  text-decoration: underline;
}

#locations a{
  color: #937F74;
  text-decoration: underline;
}

#locations a:hover {
  color: #EBD0B3;
  text-decoration: underline;
}

#contact a:hover {
  color: #EBD0B3;
}

#contact {
  padding-bottom: 90px;
}

@media only screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.25fr;
    grid-template-areas: "header-img"
    "nav";
  }

  .header img {
    margin-top: 0;
  }

  .nav a {
    color:#FFF7EF;
    text-align: center;
    margin-left: 72px;
    margin-right: 72px;
  }

  li {
    font-size: 18px;
    letter-spacing: 0.75;
    display: inline;
  }
  .nav ul {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5%;
  }

  h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 5%;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 0.5fr;
    grid-template-areas:
     ". about-p about-img ." ;
    grid-gap: 50px;
    justify-content: center;
    margin-top: 3%;
  }

  .about-img img {
    padding-left: 15%;
    width: 320px;
  }

  p {
    font-size: 18px;
    line-height: 30px;
  }

  .drink-img {
    width: 56%;
  }

  .food-img {
    width: 56%;
  }

  h2 {
    font-size: 50px;
    letter-spacing: 5px;
    transform: translate(0,-45px);
    margin-bottom: auto;
  }

  .drink-grid {
    padding-left: 22%;
    padding-right: 22%;
    margin-bottom: 5%;
  }

  .hot-drinks-title p {
    font-size: 18px;
    letter-spacing: 1.2px;
  }

  .hot-small-title p {
    font-size: 18px;
  }

  .special-items p {
    line-height: 28px;
  }

  .special-title p {
    font-size: 18px;
    letter-spacing: 1.2px;
  }

  .special-price-title p {
    font-size: 18px;
  }



  .ice-drink-grid {
    padding-left: 22%;
    padding-right: 22%;
    margin-bottom: 5%;
  }

  .special-grid {
    padding-left: 22%;
    padding-right: 22%;
    margin-bottom: 5%;
  }

  .hot-sizesS p {
    line-height: 28px;
    text-align: center;
    font-size: 16.5px;
    color: #937F74;
  }
  .hot-sizesM p {
    line-height: 28px;
    text-align: center;
    font-size: 16.5px;
    color: #937F74;
  }

  .hot-sizesL p {
    line-height: 28px;
    text-align: center;
    font-size: 16.5px;
    color: #937F74;
  }


  .hot-small-title p {
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 16.5px;
    font-weight:600;
    color: #362217;
    letter-spacing: 1px;
  }

  .hot-drinks p {
    line-height: 28px;
  }

  .ice-sizesS p {
    line-height: 28px;
    text-align: center;
    font-size: 16.5px;
    color: #937F74;
  }
  .ice-sizesM p {
    line-height: 28px;
    text-align: center;
    font-size: 16.5px;
    color: #937F74;
  }

  .ice-sizesL p {
    line-height: 28px;
    text-align: center;
    font-size: 16.5px;
    color: #937F74;
  }

  .ice-drinks-title p {
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 18px;
    font-weight:600;
    color: #362217;
    letter-spacing: 1.2px;
  }
  .ice-drinks p {
    line-height: 28px;
  }

  .ice-small-title p {
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 16.5px;
    font-weight:600;
    color: #362217;
    letter-spacing: 1px;
  }

  hr {
    border-top: 2px solid #DBC9C2;
  }

  .hr-1 hr {
    border-top: 2px solid #DBC9C2;
  }

  .hr-2 hr {
    border-top: 2px solid #DBC9C2;
  }

  .hr-3 hr {
    border-top: 2px solid #DBC9C2;
  }

  .hr-4 hr {
    border-top: 2px solid #DBC9C2;
  }

  .food-grid {
    padding-left: 22%;
    padding-right: 22%;
    margin-bottom: 15%;
  }

  .food-title p {
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 18px;
    font-weight:600;
    color: #362217;
    letter-spacing: 1px;
  }

  .food-price-title p {
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 16.5px;
    font-weight:600;
    color: #937F74;
    letter-spacing: 1px;
    text-align: center;
  }

  h4 {
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin-top: 20px;
  }

  .food-description p {
    font-family: 'Taviraj', 'Georgia', serif;
    font-size: 16.5px;
    font-weight: normal;
    font-style: italic;
    color: #937F74;
    margin-top: -10px;
  }

  .btm-logo {
    width: 15%;
    margin-left: 42.5%;
    margin-top: -65px;
  }

  .location-title h1 {
    text-align: left;
    padding-left: 22%
  }

  .contact-title h1 {
    text-align: left;
    padding-left: 22%;
  }

  .contact-grid {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-areas: "location-info contact-info";
    margin-left: 5%;
    margin-right: 5%;
  }

  .location-info {
    grid-area: location-info;
    padding-left: 20%;
    margin-top: 0px;
  }
  .location-info p {
    font-size: 18px;
    line-height: 30px;
  }
  .contact-info {
    grid-area: contact-info;
    margin-top: 0px;
    margin-left: 0;
  }

  .contact-info p {
    font-size: 18px;
    line-height: 30px;
  }

  .maplinks {
    display: inline-block;
    padding-left: 22%;
  }

  .contact-links {
    padding-left: 22%;
  }

  .hours {
    display: inline-block;
    padding-left:5%;
  }

}
